.footer-list-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    flex-direction: row;
    row-gap: 1.5rem/* 24px */;
    column-gap: 3rem/* 48px */;
    text-align: center;
}

.footer-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 0.5rem/* 8px */;
    column-gap: 2rem/* 32px */;
}