.App {
  text-align: center;
}
* {
  border: 1px solid red;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
/*
*/
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-global {
  text-align: center;
  min-height: 100vh;
  justify-content: center;
  display: flex;
  background-color: #f8f7f3;
}

.app-div {
  background-color: #f8f7f3;
}

.font-h1 {
  font-family: "Sen", sans-serif;
  color: #0a2440;
  font-weight: bold;
  font-size: 4.2rem;
}

.font-h2 {
  font-family: "Sen", sans-serif;
  color: #0a2440;
  font-weight: normal;
  font-size: 3.2rem;
}

.default-text {
  font-family: "Sen", sans-serif;
  color: #0a2440;
  font-weight: bold;
  font-size: 2rem;
}

.small-text {
  font-family: "Sen", sans-serif;
  color: #0a2440;
  font-weight: normal;
  font-size: 1rem;
}

.div {
  overflow-x: auto;
  width: 100%;
  white-space: nowrap;
}

.Results {
  width: 100%;
  /* Уберем white-space: nowrap; */
  white-space: normal;
  /* Установим перенос слов для блока */
  word-wrap: break-word;
  overflow-x: auto;

  /* Добавим стили для меньших экранов */
  @media screen and (max-width: 768px) {
    /* Изменяем отображение для меньших экранов */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Убираем горизонтальную прокрутку на меньших экранах */
    overflow-x: hidden;
    /* Устанавливаем ширину обратно на автоматическую */
    width: auto;
  }
}
